<nav class="navbar">
    <div class="brand">
        <span class="brand-highlight">E</span>state<span class="brand-highlight">C</span>onnect
    </div>
    <div class="links">
        <span class="highlight">User</span>
        <a routerLink="/user-view-properties">Properties</a>
        <a routerLink="/user-view-inquiries">My Inquiries</a>
        <a routerLink="/user-add-feedback">Add Feedback</a>
        <a routerLink="/user-view-feedback">View Feedback</a>
        <button class="logout-btn" (click)="logout()">Logout</button>
    </div>
</nav>