<p>usernav works!</p>
<nav class="navbar">
    <div class="brand user">
        <span style="color:#fff;">E</span>state<span style="color:#fff;">C</span>onnect
    </div>
    <div class="links">
        <span class="highlight">User</span>
        <a routerLink="/user-view-properties">Properties</a>
        <a routerLink="/user-view-inquiries">My Inquiries</a>
        <a routerLink="/user-add-feedback">Add Feedback</a>
        <a routerLink="/user-view-feedback">View Feedback</a>

        <button class="logout-btn" (click)="logout()">Logout</button>
    </div>
</nav>